<nav class="navigation">
  <ul class="container">
    <li class="visible-xs">
      <a class="js-aside-open-left pull-left" href="#"><i class="fa fa-bars"></i></a>
    </li>
    <li>
      <a href="/">Teckspire</a>
    </li>

    <ul class="pull-right list-inline hidden-xs text-uppercase">
      <li>
        <a href="#" class="btn">Link 1</a>
      </li>
      <li>
        <a href="#" class="btn">Link 2</a>
      </li>
      <li>
        <a href="#" class="btn">Link 3</a>
      </li>
      <li>
        <a href="#" class="btn btn-primary" style="min-width: 100px;">Link 4</a>
      </li>
    </ul>
  </ul>
</nav>
