
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: url('Lato-Hairline'), format('ttf');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: url('Lato-Light'), format('ttf');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('Lato-Regular'), format('ttf');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('Lato-Bold'), format('ttf');
}

/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: url('Lato Black'), url('Lato-Black'), format('ttf');
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 100;
  src: url('Lato-Hairline-Italic'), format('ttf');
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: url('Lato-LightItalic'), format('ttf');
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: url('Lato-Italic'), format('ttf');
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: url('Lato-BoldItalic'), format('ttf');
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 900;
  src: url('Lato-BlackItalic'), format('ttf');
}
