---
---
@import "mixins";
@charset "utf-8";

// =================================
//  BASIC LAYOUT
// =================================

html, body {
  font-size: $base-font-size;
  @include font-size($base-font-size);
  background: $base-backgound-color;
  font-weight: $base-font-weight;
  font-family: $base-font-family !important;
  min-width: $base-min-width;
}
body {
  color: $base-font-color;
  letter-spacing: $base-letter-spacing;
  line-height: $base-line-height;
}
a, a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}
// =================================
//
// =================================
#container {
  overflow: hidden;
}
.js-aside-open.js-aside-open-left {
  overflow: hidden;
  .aside-left {
    left: 0;
  }
  .is-moved-by-aside {
    transform: translate(300px);
  }
}
// =================================
//  HEADER && FOOTER
// =================================
#header {
  top: 0;
  width: 100%;
  z-index: 10;
  display: block;
  position: fixed;
  background: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: $headerBorderColor;
  @include optimize(box-shadow, 0px 0px 7px 0px rgba(0,0,0,.1) );
}
.navigation {
  padding: $gutter;
  text-align: center;
  @include except-tablet{ text-align: left; }
}
.navigation {
  ul.container {
    padding: 0;
    width: 100%;
    margin: 0 auto;
    max-width: $base-max-width;
    @include except-tablet{ padding: 10px 0; }
    ul {
      .btn {
        padding: 10px 12px;
      }
    }
  }
  li {
    list-style: none;
    @include except-tablet{ display: inline-block; }
  }
}

// =================================
//  MAIN
// =================================
#main {

}
// =================================
//  ASIDE
// =================================
.aside {
  top: 0;
  bottom: 0;
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: $asideIndex;
  -webkit-overflow-scrolling: touch;
  background: $asideBackgroundColor;
  transition: all 0.4s cubic-bezier(0.46, 0.01, 0.32, 1);
  @include optimize(box-shadow, inset -5px 0px 5px -2px #000 );

  ul.list-group {
    padding: 0 5px;
    .list-group-item {
      padding: 0;
      border: none;
      background: transparent;
      border-bottom: 1px solid rgba(180,180,180,.1);
      a {
        display: block;
        padding: 10px 15px;
        color: $asideFontColor;
      }
    }
  }
}
.aside-left {
  width: $asideLeftWidth;
  left: -$asideLeftWidth;
  border-right: 1px solid $asideBorderColor;
}
.is-moved-by-aside {
  transition: all 0.4s cubic-bezier(0.46, 0.01, 0.32, 1);
}
